<div class="title">
  <input
    type="text"
    placeholder="Escribe la pregunta..."
    [(ngModel)]="question.title"
  />
  <button (click)="addAnswer()" class="color-info">
    <i-tabler name="circle-plus"></i-tabler>
  </button>
  <button (click)="deleteQuestion()" class="color-danger">
    <i-tabler name="circle-minus"></i-tabler>
  </button>
</div>
<div *ngFor="let option of question.options" class="respuesta">
  <input
    type="radio"
    [name]="question.uuid"
    [id]="option.uuid"
    [value]="option.uuid"
    [(ngModel)]="question.correctAnswerUuid"
  />
  <input
    type="text"
    placeholder="Escribe la respuesta..."
    [(ngModel)]="option.description"
  />
  <button (click)="deleteAnswer(option.uuid)" class="color-danger">
    <i-tabler name="circle-minus"></i-tabler>
  </button>
</div>
