:host {
  padding: 20px;
}

.title {
  display: grid;
  grid-template-columns: 90% 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.respuesta {
  $padding: 1rem;
  padding-inline: $padding;
  padding-block: calc($padding * 0.5);
  display: grid;
  grid-template-columns: 1fr 90% 1fr;
  gap: 1rem;
}

input[type="text"] {
  height: 2rem;
  padding-inline: 0.5rem;
}
